$dark-0: #3b3b3b; // header text color
$dark-1: #575757; // body text color
$dark-2: #807f7e;
$dark-3: #aaa9a8;
$gray: #cccac9; // ( #000000 at 39.5% opacity over white )
$light-3: #d7d5d4;
$light-2: #e5e4e4;
$light-1: #f4f3f3;
$light: #ffffff;

$primary: #F7941E;
$primary-1: #fda750; // .825 opacity
$primary-2: #ffba75; // .65 opacity
$secondary: #ff6543;
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: $dark-0;
   font-family: 'Lato', sans-serif;
}
html { 
font-size: clamp(100%, calc(7.36px + 2.4vmin), 200%);
}
header {
    height: 90px;
    display: grid;
    .logo {
        max-height: 50%;
        align-self: center;
        padding-left: 22.5px;
    }
    span {
        height: 35px;
        width: 35px;
        color: $dark-1;
    }
}
main {
    min-height: calc(100vh - 150px);
    .page-header {
        height: 25vmax;
        background: $dark-2;
        background-image: url("https://www.inclusity.com/wp-content/uploads/2020/09/iStock-508876320-CROP.jpg");
        background-size: cover;
        background-blend-mode: multiply;
        display: grid;
        align-content: end;
        h1, p {
            color: $light;
            font-weight: 300;
        }
        h1 {
            font-size: 2em;
            padding: .25em;
        }
        p {
            font-size: .8em;
            padding: .25em .5em .5em;
            max-width: 300px;
        }
    }
    .color-bar {
        display: block;
        height: 25px;
        background: linear-gradient(90deg, $primary-2, $primary);
    }
    .color-bar-2 {
        display: block;
        height: 25px;
        background: rgba($primary, .825);
    }
    .main-content {
        h2 {
            font-size: 1.5em;
            font-weight: 300;
        }
        padding: 1em .5em;
        p {
            font-size: .8em;
            font-weight: 300;
            padding: .5em 0;
        }
        button {
            // font-size: 20px; for homepage btns
            padding: .75em;
            margin: 1em auto;
            display: block;
            border: 1px solid $dark-0;
            border: none;
            border-radius: 10px;
            background: $primary-1;
            text-transform: uppercase;
            transition: .5s;
            transition: background 1s ease-out;
            &:hover {
                transition: .5s;
                background: $primary;
                text-decoration: underline;
            }
        }
    }
}
footer {
    height: 60px;
    background: $light-2;
    p {
        color: $dark-1;
        font-size: .6em;
    }
}
.divi-footer-wrapper {
    padding: 2vmin;
    max-width: 800px;
    margin: auto;
}
.divi-footer-wrapper hr {
    color: #cccac9;
}

.socials img {
    width: 45px;
    object-position: center;
    object-fit: contain;
    margin: 2vmin 3vmin 0;
    opacity: .395;
}


.menus {
    display: flex;
    justify-content: space-evenly;
}
.menus h4 {
    font-size: 18px !important;
    font-weight: 600;
}
.menus li {
    margin: 0;
    padding: 0;
}
.sub-menu {
    margin: 0;
    padding: 0 !important;
}
.sub-menu a, .sub-menu li {
    color: #575757 !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.address {
    margin: .25em 0;
}
.footer-item {
    margin: 2vmin auto;
}
.logo-img {
    opacity: .8;
    width: 125px;
    object-position: center;
    object-fit: contain;
}

.address p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.certificates {
    display: flex;
    justify-content: space-evenly;
}
.certificate-item {
    width: 15%;
    min-width: 100px;
    object-position: center;
    object-fit: contain;
}
.trademark {
    margin: 4vmin auto;
    font-size: 16px;
    font-weight: 400;
}